server {
    listen 443 ssl;
    root {{ partner_codes_butterfly_public_dir }};
    gzip_static  on;

    real_ip_header    X-Forwarded-For;
    real_ip_recursive on;

    server_name files.{{ partner_codes_root_hostname }};

    limit_req zone=partner-codes burst=16 nodelay;

    access_log /var/log/nginx/files.{{ partner_codes_root_hostname }}.access.log;
    error_log /var/log/nginx/files.{{ partner_codes_root_hostname }}.error.log;

    ssl_certificate {{ partner_codes_tls_path }}/certs/files.partner.codes/fullchain.pem;
    ssl_certificate_key  {{ partner_codes_tls_path }}/certs/files.partner.codes/privkey.pem;

    {% include "nginx/nginx.server.ssl.j2" %}

    keepalive_requests 200;
    keepalive_timeout 120s;
    client_max_body_size 4M;
    add_header Server 'Apache' always;
    # add_header Strict-Transport-Security "max-age=31536000";


    location / {
        auth_basic           “admin”;
        auth_basic_user_file {{ partner_codes_nginx_htpasswd_dir }}/v.partner.codes;
        autoindex on;
    }
}
